@model Escuela
@{
    ViewData["Title"] = "Informaci칩n del Colegio";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.Nombre</h2>
<p><strong>Fundado en el a침o @Model.A침oDeCreaci칩n </strong></p>

<p>@ViewBag.cosaDinamica</p>